/* ----------------------------------------------- */
/* MAIN SETTINGs */
/* ----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainFont: rgba(94, 71, 52, 0.8); /*wet asphalt*/;
    --mainWhite: #fff;
}

html,
body {
    color: var(--mainFont);
    background-color: var(--mainWhite);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}
/* ----------------------------------------------- */
/* UTILITY COMPONENTs */
/* ----------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box { padding: 7px; }

/* ----- HEADINGs ----- */
h1,
h2,
h3,
h4 {
    font-weight: 300;
    text-transform: uppercase;
}

h1,
h2 {
    color: var(--mainWhite);
    margin-top: 0;
    margin-bottom: 16px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

h1 {font-size: 180%;}

h2 { font-size: 140%; }

h3 {
    font-size: 180%;
    text-align: center;
    margin-bottom: 2px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

h4 {
    font-size: 110%;
    margin-bottom: 12px;
}

h3:after {
    display: block;
    background-color: var(--mainFont);
    content: " ";
    margin: 24px auto;
    height: 1.5px;
    width: 15%;
}

/* ----- PARAGRAPHs ----- */
.phrase {
    line-height: 145%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: justify;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ----- LINKs ----- */
a:link,
a:visited {
    color: #4e7125;
    border-bottom: 1px solid #8BC34A;
    padding-bottom: 1px;
    text-decoration: none;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #4e7125;
    border-bottom: 1px solid transparent;
}

/* ----- BUTTONs ----- */
.btn:link,
.btn:visited,
.next,
input[type=submit] { 
    display: inline-block;
    border-radius: 16px;
    font-weight: 300;
    padding: 7px 20px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    text-decoration: none;
}

.btn-filled:link,
.btn-filled:visited,
.next,
input[type=submit] {
    background-color: #4e7125 ;
    border: 1px solid #4e7125;
    color: #fff;
    margin-right: 15px;
}

.btn-transp:link,
.btn-transp:visited {
    border: 1px solid #4e7125;
    color: #4e7125;
 }

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #4e7125;
    font-size: 16px;
}

.btn-filled:hover,
.btn-filled:active {
    border: 1px solid #4e7125;
}

.btn-transp:hover,
.btn-transp:active {
    border: 1px solid #4e7125;
    color: #fff;
}

/* Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0px;
  right: 0px;
  transition: all 0.3s ease-in-out;
  width: 0;
  overflow: hidden;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  }   

.mobile-menu ul { text-align: left; }  

.show-menu {
  position: fixed;
  width: 100%;
  height: auto;
  padding: 2px 2px;
  box-shadow: 0 3px 3px #efefef;
  transform: rotateY(-360deg);
  background-color: #fcfcfc;
}  
   
.mobile-menu ul li {
   list-style: none;
   text-decoration: none;
   padding-bottom: 2px;
}

.mobile-menu ul li a:link,
.mobile-menu ul li a:visited {
    padding: 8px 0;
    color: var(--mainFont);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

/* ----- ICONs ----- */
.icon-big {
    font-size: 350%;
    color: rgb(113, 164, 54) ;
    display: block;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    color: #71a436 ;
    font-size: 120%;
    width: 30px;
    text-align: center;
    margin-right: 10px;
    /*align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}
/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/landing-bg-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/landing-bg-min.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment:fixed;
}   

/* Text box on the first page - home page */
.leading-text-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* Main navigation */
.main-nav {
    list-style: none;
    margin-top: 1px;
}

.main-nav li {
    display: none;
    margin-left: 40px;
    color: var(--mainFont);
}

/* Sticky navigation */ 
.sticky {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 3px 3px #efefef;
    z-index: 1;
}

.logo-black { 
    display: block;
    height: 50px;
    width: auto;
    margin: 5px 2px;
}

.languages li {
    display: inline-block;
    list-style: none;
}

/* Mobile navi */
.mobile-nav-icon, 
.offer-nav-icon {
    cursor: pointer;
    display: block;
    margin-right: 2px;
}

.mobile-nav-icon i { 
    color: #555;
    font-size: 200%; }

/* ----------------------------------------------- */
/* PROJECTs */
/* ----------------------------------------------- */

.section-projects {
    background-color: rgba(52, 73, 94, 0.1);
    padding-top: 70px;
}

.project-box {
    background-color: #fcfcfc;
    border-radius: 7px;
    width: 100%;
    margin: 2% 1%;
    box-shadow: 0 2px 2px #efefef;
}
.project-box div {
    padding: 15px 7px;
    border-bottom: 1px solid #e8e8e8;
}

.project-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project-box div:last-child {
    text-align: center;
    border: 0;
}

.project-step {
    font-size: 160%;
    margin-bottom: 7px;
    font-weight: 300;
    color: #4e7125;
}

.project-step-gallery { font-size: 90%; }

/* ----------------------------------------------- */
/* SERVICEs */
/* ----------------------------------------------- */

.section-services {
    padding-top: 70px;
    padding-bottom: 7px;
    background-color: #fcfcfc;
}

.service { padding: 0 2%; }

.service p { text-align: justify; }

/* ----------------------------------------------- */
/* SURFACING PRICE */
/* ----------------------------------------------- */

.section-surfacing {
    background-color: rgba(52, 73, 94, 0.1);
    padding-top: 70px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.surface-box {
    background-color: #fcfcfc;
    border-radius: 7px;
    width: 96%;
    margin: 8% 2%;
    box-shadow: 0 2px 2px #efefef;
}

.surface-box h4 {
    text-align: center;
    font-size: 90%;
}

.surface-box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.surface-box p {
    font-size: 90%;
    line-height: 145%;
    padding: 3px;
    }

.checkmarks {
    list-style: none;
    padding-bottom: 7px;
    font-size: 90%;
    line-height: 145%;
}

.price {
    list-style: none;
    border: 1px solid #4e7125;
    border-radius: 7px;
    color: #4e7125;
    text-align: center;
    font-size: 90%;
}

/* ----- Container - offer - hidden ----- */
.container {
  position: fixed; 
  transition: all 0.3s ease-in-out;
  width: 0;
  overflow: hidden;
  z-index: -2;
}

.container-box {
    border-radius: 7px;
    width: 100%;
    margin: 2% 1%;
    box-shadow: 0 2px 2px #efefef;
}

.container-box div {
    padding: 15px 7px;
    border-bottom: 1px solid #e8e8e8;
    background-color: rgba(206, 206, 206, 0.5);
}

.container-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(221, 221, 221);
}
.container-box div:last-child {
    text-align: center;
    border: 0;
}

.show-container {
  position: fixed;
  top: 150px;
  right: 5%;
  width: 90%;
  height: auto;
  transform: rotateY(-360deg);
  z-index: 9999;
}  
/* ----------------------------------------------- */
/* GALLERIEs */
/* ----------------------------------------------- */

.section-galleries {
    padding-top: 70px;
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
}

.galleries-showcase {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.galleries-showcase li {
    display: flex;
    width: 100%;
}

.gallery-photo {
    width: 98%;
    margin: 1%;
    overflow: hidden;
    background-color: #2c2c2c;
    border-radius: 3%;
}

.gallery-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.gallery-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
/* ----------------------------------------------- */
/* LATEST - EXPERTs ADVICE*/
/* ----------------------------------------------- */

.offers {
    background-color: rgba(52, 73, 94, 0.1);
    padding-top: 70px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offers-nav {
        display: flex; 
        justify-content:space-between;
        align-items: flex-start;
        font-size: 80%;
 }    

.decreased { width: 50%; }

.offers-content { 
    font-size: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkmarks-offer { text-align: justify; }

.advice-box {
    background-color: #fcfcfc;
    border-radius: 7px;
    width: 96%;
    margin: 3% 2%;
    padding: 1px, 7px;
    box-shadow: 0 2px 2px #efefef;
}
/* ----------------------------------------------- */
/* TESTIMONIALS */
/* ----------------------------------------------- */

.section-testimonials {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers-min.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    padding-top: 70px;
}

.section-testimonials h3:after { background-color: #fff; }

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
/* ----------------------------------------------- */
/* CONTACT and QUOTE */ 
/* ----------------------------------------------- */

.section-contact {padding-top: 70px;
 background-color: rgba(52, 73, 94, 0.1);
}

address {
    font-size: 120%;
    padding-bottom: 30px;
    text-align: center;
}

.quote {background-color: #fcfcfc;}

.contact-quote {
    width: 92%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea { height: 100px; }

.fr { margin: 5px;}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

/* ----- Form validation ----- */

.quote {
  margin-bottom: 3px;
  padding-bottom: 7px;
  position: relative;
}

.quote input:focus,
.quote textarea:focus,
.quote select:focus {
  outline: 0;
  border-color: #777;
}

.quote.success input {
  border-color: #5ec35e;
}

.quote.error input {
  border-color: #dd896a;
}

.quote small {
  color: #dd896a;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.quote.error small { visibility: visible; }

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */


footer {
    background-color: #333;
    padding: 10px;
    font-size: 80%;
    margin: 2px;
}

.footer-nav { list-style: none; }

.social-links { list-style: none; }

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #f5f5f5;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #f2f2f2;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 100%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

footer i { font-size: 140% }

.ion-social-facebook:hover {
    color: #3b5998;
    font-size: 160%;
}

.ion-social-twitter:hover { color: #00aced; }

.ion-social-instagram:hover { color: #517fa4; }

footer p {
    color: #f5f5f5;
    text-align: center;
    margin-top: 20px;
}

.ft {
    display: flex; 
    justify-content: space-between;
}   

.bt { text-align: center;}












